<!--start nav-->
<nav class="nav ">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul class="mail-content">
                        <li>
                            <i class="fas fa-envelope-open-text"></i>
                            <a routerLink="#">support@admin.com</a>
                        </li>
                        <li>
                            <i class="fas fa-map-marked-alt"></i>
                            <a routerLink="#"> Location</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="hotline">
                        <li>
                            <span> Hot Line : </span>
                            <a routerLink="#">33445</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mid-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-8">
                    <div class="nav-toggler">
                        <div class="hamburger" id="hamburger-6">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                        <a routerLink="index" class="image-content">
                            <img src="assets/images/logo/2.png" class="ml-4" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-4">
                    <ul class="button-groups">
                        <li>
                            <div class="form">
                                <input class="search-input" type="text" placeholder=" Search Here">
                                <a routerLink="#" class="search-bnt">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </li>
                        <li class="dropdown profile-dropdown">
                            <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <div class="profile-name">
                                    <div class="image-content">
                                        <img src="assets/images/about/profile_man.png" alt="">
                                    </div>
                                    <div class="content">
                                        <a routerLink="profile">Moataz Elsaied</a>
                                    </div>
                                </div>
                                <ul class="profile-data">
                                    <li>
                                        <a routerLink="profile">
                                            <i class="far fa-user-circle"></i>
                                            <span>Account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="profile">
                                            <i class="fas fa-user-cog"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="login">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span> Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a routerLink="favorite">
                                <i class="far fa-heart"></i>
                            </a>
                        </li>
                        <li class="dropdown cart-shape">
                            <a class="dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cart-plus"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="content">
                                    <h6 class="heading"> Cart content :- <span>4</span></h6>
                                </div>
                                <ul class="data">
                                    <li class="item">
                                        <div class="item-image">
                                            <img src="assets/images/product/01.jpg" alt="">
                                        </div>
                                        <div class="item-content">
                                            <h6> Product Name </h6>
                                            <p>9.30 $ </p>
                                        </div>
                                        <a class="item-close" routerLink="#">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <div class="item-image">
                                            <img src="assets/images/product/04.jpg" alt="">
                                        </div>
                                        <div class="item-content">
                                            <h6> Product Name </h6>
                                            <p>11.30 $ </p>
                                        </div>
                                        <a class="item-close" routerLink="#">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <div class="item-image">
                                            <img src="assets/images/product/06.jpg" alt="">
                                        </div>
                                        <div class="item-content">
                                            <h6> Product Name </h6>
                                            <p>11.30 $ </p>
                                        </div>
                                        <a class="item-close" routerLink="#">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <div class="item-image">
                                            <img src="assets/images/product/10.jpg" alt="">
                                        </div>
                                        <div class="item-content">
                                            <h6>Product Name</h6>
                                            <p>15.30 $ </p>
                                        </div>
                                        <a class="item-close" routerLink="#">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="buttons-contain">
                                    <a routerLink="cart" class="custom-btn black-btn">View Cart</a>
                                    <a routerLink="checkout" class="custom-btn blue-btn">Checkout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-nav">
        <div class="container">
            <div class="row">
            </div>
            <div class="col-lg-12 col-12">
                <ul class="nav-items">
                    <li>
                        <a routerLink="index">Home</a>
                    </li>
                    <li>
                        <a routerLink="about">
                            About us
                        </a>
                    </li>
                    <li>
                        <a routerLink="products">
                            Product
                        </a>
                    </li>
                    <li>
                        <a routerLink="new">
                            New Product
                        </a>
                    </li>
                    <li>
                        <a routerLink="contact">
                            Contact us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>