<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4  col-md-6 col-12 mb-5">
                <div class="content">
                    <h6> Electronic payment</h6>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, dolorem! Explicabo consequatur asperiores voluptas laudantium ratione commodi incidunt culpa illo aut eveniet nihil ducimus, voluptatem quod, repellendus libero delectus quibusdam?

                    </p>
                    <ul class="payment">
                        <li>
                            <a routerLink="#">
                                <img src="assets/images/Payment/card_1.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <img src="assets/images/Payment/card_2.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <img src="assets/images/Payment/card_3.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <img src="assets/images/Payment/card_4.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <img src="assets/images/Payment/card_5.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12 mb-5">
                <div class="content">
                    <h6>Products</h6>
                    <ul class="list">
                        <li>
                            <a routerLink="#">Clothes</a>
                        </li>
                        <li>
                            <a routerLink="#">Shoes </a>
                        </li>
                        <li>
                            <a routerLink="#">Other </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                    All Products
                                </a>
                        </li>
                        <li>
                            <a routerLink="#">Bags </a>
                        </li>
                        <li>
                            <a routerLink="#">Offers </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12 mb-5">
                <div class="content">
                    <h6> Links</h6>
                    <ul class="list">
                        <li>
                            <a routerLink="#"> Support</a>
                        </li>
                        <li>
                            <a routerLink="#"> Seller Terms and Conditions
                                </a>
                        </li>
                        <li>
                            <a routerLink="#"> Help</a>
                        </li>
                        <li>
                            <a routerLink="#">
                                    Privacy
                                </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                    Selling Policies
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-5">
                <div class="content">
                    <div class="image-content">
                        <img src="assets/images/logo/2.png" alt="">
                    </div>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda saepe vitae eum porro tempora aliquam earum nostrum ipsam dolor soluta?
                    </p>
                    <ul class="social-media">
                        <li>
                            <a routerLink="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-light text-center">
                    Copyright @ 2021 Resturant. All rights reserved. Created By
                    <a routerLink="#" target="_blank" class="text-warning">Moataz El Bastawesy</a>
                </p>
            </div>
        </div>
    </div>
</footer>