<!--start main-->
<main>
    <!--Start register-pg -->
    <section class="register-pg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="form-wrapper">
                        <form>
                            <div class="heading text-center mb-5">
                                <h4 class="h4"> Email Address </h4>
                                <img src="assets/images/logo.png" alt="" class="logo">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" autocomplete="off" autofocus required />
                                <label class="floating-label"> Email Adress </label>
                            </div>
                            <a routerLink="forget_password" class="submit-btn">Confirm</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/image/pattern-3.png" alt="" class="pattern">
    </section>
</main>