<section class="general-product">
    <div class="container">
        <div class="heading">
            <h4>Favourite Product</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-8 col-12 mb-3">
                <div class="product-box">
                    <div class="image-content">
                        <img src="assets/images/product/52.jpg" alt="">
                        <ul class="add-items">
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" Add to cart">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" View Details ">
                                    <i class="far fa-dot-circle"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" Add to Favourite ">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <a routerLink="single-product">Block-colored Hooded Top</a>
                        <p>39.50 $</p>
                        <ul class="rate">
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-12 mb-3">
                <div class="product-box">
                    <div class="image-content">
                        <img src="assets/images/product/56.jpg" alt="">
                        <ul class="add-items">
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" Add to cart">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" View Details ">
                                    <i class="far fa-dot-circle"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" Add to Favourite ">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <a routerLink="single-product">Block-colored Hooded Top</a>
                        <p>39.50 $</p>
                        <ul class="rate">
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-12 mb-3">
                <div class="product-box">
                    <div class="image-content">
                        <img src="assets/images/product/54.jpg" alt="">
                        <ul class="add-items">
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title="Add to cart ">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" View Details ">
                                    <i class="far fa-dot-circle"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="#" data-toggle="tooltip" data-placement="top" title=" Add to Favourite ">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <a routerLink="single-product">Block-colored Hooded Top</a>
                        <p>39.50 $</p>
                        <ul class="rate">
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="active">
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end main-->